node_modules/
.next/
out/

.env
.env.local
.env.*.local

local-gdrive-mock/
scratch/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tsconfig.tsbuildinfo

prisma/dev.db
prisma/dev.db-journal

.DS_Store
Thumbs.db

templates/220920261 XALQ RETAIL.xlsx

templates/25.09.2026 ????? ???????? XALQ RETAIL.xls

templates/*XALQ RETAIL.xls
